.text {
    color: var(--TextColor-grey, #555);
text-align: right;
font-feature-settings: 'ss01' on, 'cv01' on;

/* 12 Regular */
font-family: var(--Font-family, Inter);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */

margin-left: 1vw;
margin-bottom: 2vw;
}