@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@import "leaflet/dist/leaflet.css";


* {
  box-sizing: border-box;
    font-family: 'Roboto';
    font-family: "Roboto Mono";
    font-family: 'Inter';
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
  background: #FFF;

  overflow-y: auto;
  overflow-x: hidden;

  /* Скрытие скроллбара */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


